* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

header,
footer,
nav,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

p {
  width: auto;
  overflow-wrap: break-word;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}

.header_logo:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100) contrast(100%);
  transition: all 0.4s;
}

.menu_list {
  display: flex;
}

.menu_link {
  padding: 43px 20px;
  text-transform: uppercase;
}

.menu_link:hover {
  background-color: #131313;
  color: white;
  transition: all 0.4s;
}

.bike {
  border: 0;
  padding: 100px 0 150px;
}
.bike_inner {
  display: flex;
  justify-content: space-between;
}
.bike .bike_left_title {
  margin: 74px 0 5px 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}
.bike .bike_left_subtitle {
  margin-bottom: 60px;
  font-size: 32px;
  line-height: 39px;
  color: #6f6f6f;
}
.bike .bike_left_text {
  width: 420px;
}
.bike .bike_left_text:nth-of-type(1) {
  margin-bottom: 20px;
}
.bike .bike_left_text:nth-of-type(2) {
  margin-bottom: 80px;
}
.bike .bike_left a.bike_left_order {
  display: inline-block;
  padding: 28px 81px;
  background: #131313;
  color: white;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
}
.bike .bike_left a.bike_left_order:hover {
  background: #ff4040;
  transition: all 0.4s;
}
.bike_list {
  display: flex;
  justify-content: space-around;
  margin-top: 74px;
}
.bike_list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bike_list-item span:nth-child(1) {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.bike_list-item span:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  min-width: 160px;
  min-height: 60px;
}
.bike .slider_lines {
  position: absolute;
  top: 0;
  left: 0;
}
.bike .slider_lines span {
  height: 2px;
  background-color: #131313;
  width: 30px;
}

.info {
  margin-bottom: 150px;
}
.info_wrapper {
  display: flex;
}
.info_img {
  margin-right: 60px;
  flex-basis: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}
.info_list {
  flex-basis: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info_list-item:not(:last-child) {
  margin-bottom: 50px;
}
.info_list-item .item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.info_list-item .item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}/*# sourceMappingURL=main.css.map */